/***** SHARED CSS *******/
/* This CSS is for the topic list on section pages */
.content-group .select-topic {
	position: relative;
	top: -30px;
	left: 60px;
}

.select-topic li {
	list-style-type: none;
}
/***** END SHARED ******/


a#hybrid-cloud-icon img { background-image : url(../images/topiclabel/WebIDE50.png); }
a#devops-icon img { background-image : url(../images/topiclabel/JazzHub-identifier_50.png); }
a#bluemix-signup-icon img { background-image : url(../images/topiclabel/bluemix_reg_logo.png); }
a#use-eclipse-ide-icon img { background-image : url(../images/topiclabel/eclipse48.gif); }
a#use-devops-jazz-icon img { background-image : url(../images/topiclabel/ov_jazz48.gif); }
a#video-icon img { background-image : url(../images/topiclabel/ov_tour48.gif); }
a#orion-icon img { background-image : url(../images/topiclabel/orion-logo.png); }

      a.in-line-link  {
	       color:  blue;
	       	text-decoration: none;
	}
	  
    h3 {
	   
   	font-weight: bold;
	color: green;
	padding-left: 6px;
	padding-top: 0px;
	margin-top: 0px;
}	
